
// h4, .h4,
// h5, .h5,
// h6, .h6 {
//   margin-top: 0; //($line-height-computed / 2);
//   margin-bottom: 0; //($line-height-computed / 2);
//
//   small,
//   .small {
//     font-size: 75%;
//   }
// }

.panel-body h3 {
	margin: 0 0 1em 0;
}



// bower:scss
// endbower




/* Space out content a bit */
body {
	font-family: $font-family-serif;
    // padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom page header */
header {

	margin-bottom: $grid-gutter-width;

	h1 {
		text-indent: -9999px;
		background: url(/images/awb_logo.png) left top no-repeat;
		background-size: 100% 100%;
		min-width: 320px;
		max-width: 383px;
		height: 97px;
		margin: 10px auto;
		padding: 0;

		@media (max-width: $grid-float-breakpoint) {
			display: none;
		}
	}
}

.btn {
	font-family: $font-family-sans-serif;
}

.navbar {
	border-radius: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	min-height: 0;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default {
	border-left: 0;
	border-right: 0;
}

main {
	h1, h2, h3, h4, h5, h6 {
		color: $brand-primary;
	}

	img {
		max-width: 100%;
	}


}

.program {

	/*
	Sample program layout
	<ul>
	    <li><span>The Star Spangled Banner</span>
	    <span>arr. Moffit</span></li>

	    <li><span>Colas Breugnon Overture</span>
	    <span>Kabalevsky/Beeler</span></li>

	    <li><span>Italian Polka</span>
	    <span>Rachmaninoff/Roussanova Lucas</span></li>

	</ul>
	*/
	.row {
		//margin-top: 1rem;
		//margin-bottom: 10px;
	}

	ul {
	    max-width: 40em;
	    padding: 0;
	    overflow-x: hidden;
	    list-style: none;

	    li:before {
	    	float: left;
			width: 0;
			white-space: nowrap;
			content:
				 ". . . . . . . . . . . . . . . . . . . . "
				 ". . . . . . . . . . . . . . . . . . . . "
				 ". . . . . . . . . . . . . . . . . . . . "
				 ". . . . . . . . . . . . . . . . . . . . "
		}

		span:first-child {
		    padding-right: 0.33em;
		    background: white;
		}

		span + span {
		    float: right;
		    padding-left: 0.33em;
		    background: white;
		}
	}
}

#members {
	ul {
		@extend .list-unstyled;
		margin-bottom: 1em;
	}

	h4 {
		font-weight: bold;
		margin-bottom: 0;
		text-transform: uppercase;
	}
}



// phone only
@media (max-width: $grid-float-breakpoint) {

	body {
		padding-top: 0;
	}

	nav.navbar {
		margin-left: -15px;
		margin-right: -15px;
	}

}




@media (min-width: $grid-float-breakpoint) {
    .navbar-brand {
	    display: none;
    }

    .navbar-collapse {
	    padding-right: 0;
	    padding-left: 0;
    }
}

footer {
	padding: 1em 0;
	border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

img.pull-left {
	margin: 0 15px 15px 0;
	border: 1px solid #ccc;
}

.holiday {
    padding: 1.6rem;
    background-color: $state-danger-bg;
    margin-bottom: 1.6rem;

    h2 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }
}

.jumbotron {
	margin-bottom: 3rem;
	.container {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}

	.img-responsive {
		width: 100%;
	}
}
